<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ partial "head" . }}
  </head>

  <body>
    <main aria-role="main">
      <div class="container" role="main">
        <div class="container__child name">
          <h1 class="heading-big">
            {{ if .IsHome }}
            Pete Martin
            {{ else }}
              <a href="/">Pete Martin</a>
            {{ end }}
          </h1>
        </div>
        <nav class="nav" role="navigation" aria-label="Navigation">
          {{ partial "nav" . }}
        </nav>
        <div class="container__child byline">
          {{- partial "byline" . -}}
        </div>
        <div class="container__child content">
          {{ block "main" .}}{{ end }}
        </div>
        <div class="container__child footer">
          {{ partial "footer" .}}
        </div>
      </div>
    </main>
  </body>
</html>
