<!doctype html>
<html lang="en-US">
    <head>
        {{ partial "head/head" . }}
    </head>
    <body>
        <main aria-role="main">
            <div class="container" role="main">
                <div class="container__child">
                    {{ partial "nav" . }} {{ partial "main/heading" . }}
                </div>
                {{ if .IsHome }}
                <div
                    class="container__child"
                    role="text"
                    aria-label="About Pete"
                >
                    {{- partial "main/byline" . -}}
                </div>
                {{ end }} {{ if .IsHome }}
                <div class="divider"></div>
                {{- partial "section/content" . -}} {{ end }}
                <div class="container__child content" role="main">
                    {{ block "main" .}}{{ end }}
                </div>
            </div>
        </main>
        {{ partial "head/css" }}
    </body>
</html>
