.divider {
    height: 2px;
    border-radius: $padding-default;
    margin: $padding-default * 1 0;
}

.section__list {
    margin: 0;
}
.title__head {
    padding-bottom: $padding-default;
}
.list__category {
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
}
.list__heading {
    a {
        text-decoration: none;
    }
    font-size: $font-size-md;
}
.list__date {
    font-size: $font-size-xs;
}

.post__img {
    padding: $padding-default-sm 0;
    img {
        margin: 0 auto;
        border-radius: $padding-default-lg;
    }
    .post__img-caption {
        max-width: 80%;
        padding-left: $padding-default-lg;
        font-size: $font-size-sm;
    }
}
