.divider {
    height: 2px;
    border-bottom: 1px solid $border-color;
    padding: $padding-default * 1;
}

@mixin inline-copy {
  width: $seven-eighth;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.content__list-content {
    p {
        @include inline-copy;
    }
}

.list__meta {
  @include inline-copy;
}

.list-item {
  margin-top: $padding-default;
  margin-bottom: $padding-default;
}

.section__list {
    margin: 0;
}
.title__head {
    padding-bottom: $padding-default;
    margin-top: $padding-default-md;
    margin-bottom: $padding-default-sm;
}
.list__category {
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
}
.list__heading {
    a {
        text-decoration: none;
    }
    font-size: $font-size-md;
}
.list__date {
    font-size: $font-size-xs;
}

.post__img {
    padding: $padding-default-sm 0;
    img {
        margin: 0 auto;
        border-radius: $padding-default-sm;
    }
    .caption {
        @include inline-copy;
        font-size: $font-size-sm;
    }
}

.read-more {
    margin-top: $padding-default-sm;
    a {
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
    }
}

.post-tags {
    margin-top: $padding-default;
    padding-top: $padding-default-sm;
    border-top: 1px solid $border-color;
}
