$font-color: #111111;
$link-color: #111;
$link-color-hover: #111;
$border-color: #111;
$background-color: #adf5ff;

$link-color: #111;
$link-decoration: underline !default;
$button-hover-color: #111;
$button-link-hover-color: #111;
$default-transition: all 0.4s ease 0s;

$font-color-dark: #222;
