$grid-border: 1px solid $border-color;

@mixin default-grid-item {
    display: grid;
    align-items: end;
}

.container {
    display: grid;
    grid-column: 1;
    grid-auto-flow: row;
    width: 100%;
    padding: 5%;
    @include respond-to(large) {
    }
    @include respond-to(medium) {
      max-width: 750px;
    }
    @include respond-to(small) {
      max-width: 650px;
      padding: 0%;
      padding-top: 8%;
      padding-left: 8%;
    }
    .container__child {
        padding: $padding-default;
        &:not(:last-child) {
            border-bottom: none;
        }
        &.nav {
            padding: 0;
        }
    }
}

.content {
    @include respond-to(medium) {
        border-top: 0;
    }
    @include respond-to(medium) {
        border-top: 0;
    }
    @include respond-to(small) {
        border-top: 0;
    }
}
