.content__hevy-wrapper {
    @include hevy-gradient;
    @include drop-shadow-basic;
    border-radius: $padding-default-sm;
    padding: $padding-default-sm;

    h2 {
        padding-left: $padding-default-sm / 2;
    }
}

.hevy-list {
    .hevy-detail {
        border-radius: $padding-default-sm;
        padding: $padding-default-sm / 2 $padding-default-sm;

        // vertical grid
        display: grid;
        // stack contents
        grid-template-columns: 1fr;

        .hevy-label {
          font-size: $font-size-xs;
          font-weight: lighter;
        }
        .hevy-metric {
          font-size: $font-size-sm;
          color: $font-color-dark;
        }
    }
}
