.list-grid {
    display: flex;
    justify-content: flex-end;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style: none;

    &.list-align-center {
        justify-items: center;
    }
}

.list-grid-item {
    display: flex;
    margin: 0;
    padding: 0;

    &.nav-text:last-of-type {
      font-weight: bold;
  }
}
