@mixin gradient-selector {
  @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
              @extend .gradient-#{$i};
              border: 1px transparent;
          }
      }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-area: nav;
  a {
    border-left: $grid-border;
    border-top: $grid-border;
    &:last-child {
      border-right: $grid-border;
    }
    text-align: center;
    text-decoration: none;
    padding: $padding-default-sm;
    transition: $default-transition;
    &:hover, &:active {
      transition: $default-transition;
      color: $button-link-hover-color;
      @include gradient-selector;
    }
  }
}
