@import "reset";
@import "nord";
@import "color";
@import "breakpoints";
@import "font";
@import "grid";
@import "gradients";
// components
@import "nav";
@import "blog";

@mixin for-desktop-up {
  @media (min-width: 1000px) { @content; }
}

html,body,h1,h2,h3,h4,p {
  font-family: $font-family;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-default;
  color: $font-color;
  background-color: $background-color;
}

p {
  &:first {
    margin-top: 0;
    padding-top: 0;
  }
  padding-top: $padding-default-sm;
}

main {
  display: grid;
  width: 100%;
  // min-height: 100%;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.text-vertical {
  writing-mode: sideways-lr;
}

.heading-big {
  font-size: $font-size-xxxl;
  display: inline-block;
}

.padding-sm {
  padding: $padding-default;
}
