.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px; 
  grid-template-areas: 
    "name"
    "content"
    "nav"; 
  width: 100%;
  @include respond-to(medium) {
<<<<<<< HEAD:assets/_grid.scss
    width: 35%;
=======
    width: 50%;
>>>>>>> master:assets/sass/_grid.scss
  }
}

.name { 
  grid-area: name;
  display: grid;
  align-items: end;
  padding: $padding-default;
}

.content { 
  grid-area: content;
  border: 1px solid $border-color;
  padding: $padding-default;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-area: nav;
  a {
    &:first-child {
      border-left: 1px solid $border-color;
    }
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
    text-decoration: none;
    padding: $padding-default-sm;
    &:hover {
      background-color: darken($background-color, 4);
    }
  }
}
