@import "reset";
@import "color";
@import "breakpoints";
@import "font";
@import "grid";

@mixin for-desktop-up {
  @media (min-width: 1000px) { @content; }
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $font-size-default;
  color: $font-color;
  background-color: $background-color;
}

p {
  &:first {
    margin-top: 0;
    padding-top: 0;
  }
  padding-top: $padding-default-sm;
}

a {
  color: $link-color;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-default;
  min-height: calc(100%  - 30px);
}

.text-vertical {
  writing-mode: sideways-lr;
}

.heading-big {
  font-size: $font-size-xxxl;
}

.padding-sm {
  padding: $padding-default;
}