<div class="skills" aria-label="My Skills">
    <h2>Skills</h2>
    <p>Expertise in:</p>
    <div class="skills-bubbles">
        <div class="bubble gradient-1">BigQuery</div>
        <div class="bubble gradient-2">Data engineering</div>
        <div class="bubble gradient-3">Google Tag Manager</div>
        <div class="bubble gradient-2">Google Analytics</div>
        <div class="bubble gradient-3">Agile</div>
        <div class="bubble gradient-2">Dataform</div>
        <div class="bubble gradient-1">Snowplow Analytics</div>
        <div class="bubble gradient-2">Javascript</div>
        <div class="bubble gradient-3">CircleCI</div>
        <div class="bubble gradient-3">Web Analytics</div>
        <div class="bubble gradient-2">Looker</div>
        <div class="bubble gradient-1">GCP</div>
    </div>
</div>
