<div class="skills" aria-label="My Skills">
    <h2>Skills</h2>
    <p>Expertise in:</p>
    <div class="skills-bubbles">
        <div class="bubble gradient-1">BigQuery</div>
        <div class="bubble gradient-2">Data engineering</div>
        <div class="bubble gradient-3">Google Tag Manager</div>
        <div class="bubble gradient-1">Google Analytics</div>
        <div class="bubble gradient-2">Agile</div>
        <div class="bubble gradient-3">Dataform</div>
        <div class="bubble gradient-1">Snowplow BDP</div>
        <div class="bubble gradient-2">Fivetran</div>
        <div class="bubble gradient-3">Javascript</div>
        <div class="bubble gradient-1">CircleCI</div>
        <div class="bubble gradient-2">Web Analytics</div>
        <div class="bubble gradient-3">Looker</div>
        <div class="bubble gradient-1">Google Cloud Platform</div>
    </div>
</div>
