{{ $currentPage := . }}
<ul class="list-grid navigation" role="navigation" aria-label="Navigation">
    {{ range .Site.Menus.main }}
    <li class="list-grid-item nav-text">
        <a href="{{ .URL }}" title="Link to {{ .Name }}"
            {{ if eq .Page nil }}rel="nooopener noreferrer"{{ end }}>
            {{ .Name }}
        </a>
    </li>
    {{ end }}
    {{ range .Site.Menus.nav }}
    <li class="list-grid-item nav-icon">
        <a href="{{ .URL }}" title="Link to {{ .Name }}"
            {{ if eq .Page nil }}rel="nooopener noreferrer" target="_blank"{{ end }}>
            {{- partial "icon" (dict "name" .Params.icon) -}}
        </a>
    </li>
    {{ end }}
</ul>
