<div class="skills" aria-label="My Skills">
    <h2>Skills</h2>
    <p>Expertise in:</p>
    <div class="skills-bubbles">
        <div class="bubble bubble-1">BigQuery</div>
        <div class="bubble bubble-2">Data engineering</div>
        <div class="bubble bubble-2">Google Tag Manager</div>
        <div class="bubble bubble-2">Google Analytics</div>
        <div class="bubble bubble-3">Agile</div>
        <div class="bubble bubble-2">Dataform</div>
        <div class="bubble bubble-1">Snowplow Analytics</div>
        <div class="bubble bubble-3">CI/CD</div>
        <div class="bubble bubble-2">Looker</div>
    </div>
</div>
